<!doctype html>
<html lang="en">
    <head>
        <!--meta-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--################################################################-->
        <!-- css imports-->
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- local css imports-->
        <link rel="stylesheet" type="text/css" href="./static/local_css.css"/>

        <!--################################################################-->
        <!--start of head-->
        <title>Quiz App</title>
    </head>


    <body>
        <div class="container-fluid">
            <div class="row header">
                <div class="col-sm-1 header_left align-self-start">
                    
                </div>
                <div class="col-sm-10 header_main align-self-center">
                    Quiz App
                </div>
                <div class="col-sm-1 header_right align-self-start">
                <a href="./landing.html"><i class="fas fa-home"></i></a>
                </div>
            </div> <!--end of row-->


            <div class="row sticky-top">
                <div class="col-sm-12 header_nav">
                    <nav class="navbar navbar-dark navbar-expand-sm">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li><a href="./landing.html">Home</a></li>
                                <!--<li><a href="./login-reg.html">Login/Register</a></li>
                                <li class="active"><a href="./project1-js.html">JS</a></li>
                                <li><a href="./project1-bio.html">Bio</a></li>-->
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 l_side">
                </div> <!--end of l_side-->

                <div class="col-sm-8 content">
                    <!--<div class="sticky-top">
                        <button id="collapse_text" class="btn btn-light rounded exp-col" type="button">
                            <i class="fas fa-caret-up"></i>
                        </button>
                        <button id="expand_text" class="btn btn-light rounded exp-col" type="button">
                            <i class="fas fa-caret-down"></i>
                        </button>
                    </div>-->

                    <!--<img class="inline-float" src="./images/javascript.png" alt="JavaScript Logo"/>-->
                    <h2>Registration</h2>
                    
                    <h5>
                        some subtitle here
                    </h5>
                    <p>
                        <form>
                    <!--    <div class="form-group">
                                <label for="FirstName">First Name</label>
                                <input type="text" class="form-control" id="FirstName" aria-describedby="First Name">
                            </div>
                            <div class="form-group">
                                <label for="LastName">Last Name</label>
                                <input type="text" class="form-control" id="LastName" aria-describedby="Last Name">
                            </div> -->
                            <div class="form-group">
                                <label for="admin">Role</label><br>
                                <select id = "admin" name = "admin">
                                    <option value = "0">Student</option>
                                    <option value = "1">Teacher</option>
                                  </select>
                            </div>
                    <!--    <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="email" class="form-control" id="Email" aria-describedby="Email Address">
                            </div> -->
                            <div class="form-group">
                                <label for="Username">Username</label>
                                <input type="text" class="form-control" id="Username" name="username">
                            </div>
                            <div class="form-group">
                                <label for="Password">Password</label>
                                <input type="password" class="form-control" id="Password" name="password">
                            </div>
                            <button type="submit" class="btn btn-success" formaction="/register.html" formmethod="POST">Submit</button>
                        </form>
                    </p>
                </div> <!--end of content-->

                <div class="col-sm-2 r_side">
                </div> <!--end of r_side-->

            </div>  <!--end of main row-->

            <div class="row">
                <div class="col-sm-12 footer">
                </div>
            </div> <!--end of row-->

        </div> <!--end of container-->

        <!--################################################################-->
        <!--js imports-->
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
        </script>

        <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous">
        </script>
        
        <script 
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        
        <script 
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>

        <!-- fontawsome icons-->
        <script src="https://kit.fontawesome.com/029e93a038.js" crossorigin="anonymous"></script>

        <!-- local js imports-->
        <script src="./static/local_js.js"></script>

    </body>
</html>


