<!doctype html>
<html lang="en">
    <head>
        <!--meta-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--################################################################-->
        <!-- css imports-->
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- local fontawsome-->
        <link href="./static/css/fontawesome/css/all.min.css" rel="stylesheet">

        <!-- local css imports-->
        <link rel="stylesheet" type="text/css" href="./static/css/local_css.css"/>

        <!--################################################################-->
        <!--start of head-->
        <title>Quiz App</title>
    </head>


    <body>
        <div class="container-fluid">
            <!--header row-->
            <div class="row header">
                <div class="col-sm-1 header_left align-self-start" id="username"></div>
                <div class="col-sm-10 header_main align-self-center">Quiz App</div>
                <div class="col-sm-1 header_right align-self-start"><a id="home" href="./landing.html"><i class="fas fa-sign-out-alt"></i></a></div>
            </div>

            <!-- header nav row -->
            <div class="row">
                <div class="col-sm-12 header_nav">
                    <nav class="navbar navbar-dark navbar-expand-sm">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li><a id="final-save" href="javascript:;">Finish and Submit</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div> 

            <!-- main content row -->
            <div class="row">
                <!-- left side section -->
                <div class="col-sm-2 l_side sticky-top">
                    <div class="row">
                        <div class="col-sm-12" id="q_nav_main">
                            <nav class="navbar navbar-dark navbar-expand-sm">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#q_nav">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse" id="q_nav">
                                    <ul class="nav nav-pills flex-column">
                                        <!--filled by js-->
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>

                <!-- content section -->
                <div class="col-sm-8 content">
                    <h2>Mark Submission</h2>
                    
                    <h5 id="title">
                        <!-- filed by js -->
                    </h5>

                    <h6 data-toggle="collapse" data-target="#instructions" aria-expanded="false" aria-controls="instructions">
                        Instructions
                    </h6>
                    <div class="collapse multicollapse" id="instructions">             
                        <i class="instructions">
                            Choose the question to mark on the left manu bar<br/>
                            Grade and comment the answer at the end of the answer section<br/>
                            Load the submission of a different submitter with the change submitter link<br/>
                            Click submit to save your interim marks or finish to do a final save and exit
                        </i>
                    </div>
                    <hr>

                    <p>
                        <button type="button" id="btn-change-submitter" class="btn btn-success" data-toggle="collapse" data-target="#submitter-config" aria-expanded="false" aria-controls="submitter-config">Change Submission</button>
                    </p>
                    <div class="collapse multicollapse" id="submitter-config" >             
                        <form onsubmit="return false;"> <!--action="/load_qset_json" method="post">-->
                        <p>
                            <p>
                                Choose new submission from the dropdown list
                            </p>
                            <input list="submitters" name="input-submitter" style="font-size:0.8em;min-width:200px;">
                            <datalist id="submitters">
                                <!--filled by JS-->
                            </datalist>
                        </p>
                        <button type="button" id="btn-load-submitter" class="btn btn-danger">Load</button>
                        </form>
                    </div>                  
                    <hr>
                    
                    <p>
                        <!-- Question Data -->
                        <div class="tab-content" id="q_data">
                            <!-- filled by JS -->

                        </div>
                    </p>

                </div> 

                <!-- right side section -->
                <div class="col-sm-2 r_side">
                </div>

            </div>

            <!-- footer row -->
            <div class="row">
                <div class="col-sm-12 footer">
                </div>
            </div>

        </div>
    </body>
</html>


